
<button class="btn btn--primary" type="button">
  <span class="btn__text">Sign In</span>
</button>

<button class="btn btn--primary btn--full" type="submit">
  <span class="btn__text">Register Now</span>
  <span class="btn__icon">→</span>
</button>

<button class="btn btn--primary btn--full btn--loading" type="button" disabled>
  <span class="btn__spinner"></span>
  <span class="btn__text">Processing...</span>
</button>


<button class="btn btn--primary btn--full" type="button" disabled>
  <span class="btn__text">Submit</span>
</button>


<button class="btn btn--secondary" type="button">
  <span class="btn__text">Cancel</span>
</button>

<button class="btn btn--social" type="button">
  <img src="assets/icons/google.svg" alt="Google" class="btn__social-icon" width="18" height="18" />
  <span class="btn__text">Google</span>
</button>

<button class="btn btn--social btn--social--facebook" type="button">
  <span class="btn__text">Facebook</span>
</button>

<button class="btn btn--ghost" type="button">
  <span class="btn__text">← Back to Login</span>
</button>
