
<section class="hero" style="position: relative">

  <div class="hero__text" style="margin-bottom: 60px">
    <h1 class="hero__title" style="color: var(--light-color)">
      Find Your Perfect <span class="hero__title--accent">Stay</span>
    </h1>
    <p class="hero__subtitle" style="color: var(--light-color); font-weight: 500">
      Book unique hotels and vacation rentals around the world with exclusive
      deals for members.
    </p>
  </div>

  <div class="search-bar">

    <div class="search-bar__field" style="display: flex;justify-content: center;align-items: center;">
      <div class="search-bar__input-row" style="display: flex; justify-content: center;align-items: center;width: 100%">

     <input type="search" style="height: 50px; width: 100%;border-radius: 6px;border: none">
      </div>
    </div>

    <div class="search-bar__field">

      <div class="search-bar__input-row">

        <input type="search" style="height: 50px; width: 100%;border-radius: 6px; border: none">

      </div>
    </div>

    <div class="search-bar__field search-bar__field--guests">

      <div class="search-bar__input-row">
        <input type="search" style="height: 50px; width: 100%;border-radius: 6px;border: none">

      </div>
    </div>

    <button class="search-bar__btn" type="button" style="border-radius: 6px;margin: 5px">
      Search
    </button>

  </div>

</section>
