

<div class="hotel-details-page" style="padding: 2px">
  <div class="hotel-details-page__container">
    <div class="list-navigation">
    <ul class="link-list" style="display: flex;gap: 10px;list-style: none;margin-top: 20px;text-decoration: none;margin-bottom: 20px">
      <a href="/" style="text-decoration: none;color: #1D4ED8;font-size: 13px">Home ></a>
      <a href="/" style="text-decoration: none;color: #1D4ED8;font-size: 13px">Hotels ></a>
      <a href="/" style="text-decoration: none;color: #1D4ED8;font-size: 13px">All apartments ></a>
      <a href="/" style="text-decoration: none;color: #1D4ED8;font-size: 13px">Sri Lanka ></a>
      <a href="/" style="text-decoration: none;color: #1D4ED8;font-size: 13px">Kandy ></a>
      <a href="/" style="text-decoration: none;color: #1D4ED8;font-size: 13px">Kandy District ></a>
      <p>Grand Plaza Resort</p>
    </ul>
<ul class="navigates" style="display: flex;justify-content: space-around;list-style: none;margin-top: 10px">
  <li>Overview</li>
  <li>Apartment info & price</li>
  <li>Facilities</li>
  <li>House rules</li>
  <li>Important & legal info</li>
  <li>Guest review(280)</li>
</ul>
    </div>
    <app-hotel-image-gallery></app-hotel-image-gallery>

    <app-hotel-info></app-hotel-info>

    <app-guest-reviews></app-guest-reviews>

  </div>
</div>

<app-footer></app-footer>
