
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  margin: 0;
}



html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {

  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
}
@import url(https://fonts.bunny.net/css?family=space-grotesk:300,400,500,600,700);
@import url(https://fonts.bunny.net/css?family=pacifico:400);
:root{
  --background-color:#003b95;
  --light-color:#fff;
  --gray-color: #8c8c8c;
  --orange-color: #d35400;
  --lemon-zest: #ddd912;
  --lilac-dream: #d285f2;
  --off-white: #ebf2f0;
  --lavender-mist: #4e54bf;
  --crimson-red: #a60311;
  --midnight-plum: #140826;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
