
<header class="header">
  <nav class="navbar">
    <a class="navbar__logo" routerLink="/">
      <div class="navbar__logo-icon">
        <div class="navbar__logo-grid">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <span class="navbar__logo-name">StayFinder</span>
    </a>
    <div class="navbar__actions">
      <button class="navbar__bell btn" type="button" aria-label="Notifications" routerLink="/security/register">
Register

      </button>

      <button class="navbar__avatar btn" type="button" aria-label="User profile" routerLink="/security/login">
Sign in

      </button>
    </div>



  </nav>

</header>
